
<div class="country-card-title"><img src="{{flags.svg}}" alt="Country flag" />
    <span class="country-card-name">{{name.common}}</span>
</div>
<p class="country-card">Capital: <span class=country-card__data>{{capital}}</span></p>
<p class="country-card">Population: <span class=country-card__data>{{population}}</span></p>
<p class="country-card">Languages: 
    <span class=country-card__data>{{languages}}</span>
    </p>